# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# Import weather dataframe
weather_df = pd.read_csv("../output_data/city_weather")
# Check the dataframe columns and found unwanted column(Unamed: 0)
cols = weather_df.columns
cols2 = cols[1:] # drop "Unamed: 0" columns
weather_df = weather_df[cols2]
weather_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Qaanaaq,77.48,-69.36,46.78,54,100,2.91,GL,1595877175
1,Tucuma,-0.18,-50.05,88.93,57,33,6.58,BR,1595877175
2,Tasiilaq,65.61,-37.64,48.20,70,75,13.87,GL,1595877175
3,Karratha,-20.74,116.85,65.55,28,96,9.06,AU,1595877175
4,Punta arenas,-53.15,-70.92,41.00,56,40,19.46,CL,1595877063

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# configure and start map
# useful doc -> https://jupyter-gmaps.readthedocs.io/en/v0.3.2/gmaps.html
gmaps.configure(api_key=g_key) # Fill in with your API key
m = gmaps.Map()
# zip latitude and longitude into one list
locations = list(zip(weather_df['Lat'],weather_df['Lng']))
# get heatmap layer, set conditions, add it to map, and then show map
heat_layer = gmaps.Heatmap(locations=locations,weight=weather_df['Humidity'],dissipating=False)
heat_layer.max_intensity = max(weather_df['Humidity']) # most likeyly a value of 100
heat_layer.point_radius = 10
m.add_layer(heat_layer)
m

Map(configuration={'api_key': 'AIzaSyCJ41dvdSoedjx1BZQjtKYJbYRrbjqs5IA'}, data_bounds=[(-47.9936733083086, -17…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
# filter data by temperature
vacation_df = weather_df.loc[((weather_df['Max Temp']>70) & (weather_df['Max Temp']<80)),:]
# filter by wind speed and cloudiness
vacation_df = vacation_df.loc[((vacation_df['Wind Speed']<10)&(vacation_df['Cloudiness'] == 0)),:]
# filter by humidity not too dry or humid
vacation_df = vacation_df.loc[((vacation_df['Humidity']>10)&(vacation_df['Humidity']<60)),:]
vacation_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
64,Vallenar,-28.57,-70.76,78.76,17,0,5.28,CL,1595877192
319,Castelbuono,37.93,14.09,79.00,36,0,1.99,IT,1595877256
372,Walvis bay,-22.96,14.51,71.60,28,0,8.05,NaN,1595877269
413,Nakusp,50.25,-117.80,77.00,44,0,4.00,CA,1595877280
424,Indian head,50.53,-103.67,77.00,39,0,1.01,CA,1595877283
428,Peci,44.63,16.79,73.40,56,0,2.24,BA,1595877284
450,Civitavecchia,42.09,11.80,75.99,43,0,3.74,IT,1595877289

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# Start hotel_df with information you find useful now that you know the weather is plesent in all of them.
hotel_df = vacation_df[['City','Lat','Lng','Country']]
hotel_df

              City    Lat     Lng Country
64        Vallenar -28.57  -70.76      CL
319    Castelbuono  37.93   14.09      IT
372     Walvis bay -22.96   14.51     NaN
413         Nakusp  50.25 -117.80      CA
424    Indian head  50.53 -103.67      CA
428           Peci  44.63   16.79      BA
450  Civitavecchia  42.09   11.80      IT

In [6]:
def hotel_get(lat,lon):
    params = {
        'key' : g_key,
        'location' :f'{lat},{lon}',
        'radius' : 5000,
        'type' : 'lodging',
        'keyword' : 'hotel'
    }
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    response = requests.get(url,params=params).json()
    return(response)

In [7]:
# example of one hotel request
#hotel_get(37.93,14.09)['results'][0]
hotel_get(44.63,16.79)['results']

[]

In [8]:
# create empty lists
hotel_name = []
hotel_lat = []
hotel_lng = []
rating = []
# run through all potential vacation spots
lats = list(hotel_df['Lat'])
lngs = list(hotel_df['Lng'])
for la,ln in zip(lats,lngs):
    print(la,ln)
    # use the function I made
    pass_key = 0
    try:
        hotel_1 = hotel_get(la,ln)['results'][0]
        pass_key = 1
    except: # this is for when no results are found, which is the case for one location I used.
        hotel_1 = hotel_get(la,ln)['results']
        if not hotel_1:
            print(f'No close hotels to {la},{ln}')
            pass_key = 0
    # Store values into lists
    if pass_key == 1:
        hotel_name.append(hotel_1['name'])
        hotel_lat.append(hotel_1['geometry']['location']['lat'])
        hotel_lng.append(hotel_1['geometry']['location']['lng'])
    if pass_key == 0:
        hotel_name.append('nan')
        hotel_lat.append('nan')
        hotel_lng.append('nan')

# Add the hotel info to the hotel_df
hotel_df['Hotel Name'] = hotel_name
hotel_df['Hotel Lat'] = hotel_lat
hotel_df['Hotel Lng'] = hotel_lng
hotel_df

-28.57 -70.76
37.93 14.09
-22.96 14.51
50.25 -117.8
50.53 -103.67
44.63 16.79
No close hotels to 44.63,16.79
42.09 11.8

C:\Users\jgeis\anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\jgeis\anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\jgeis\anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Lat,Lng,Country,Hotel Name,Hotel Lat,Hotel Lng
64,Vallenar,-28.57,-70.76,CL,Hotel Origenes,-28.566,-70.8039
319,Castelbuono,37.93,14.09,IT,Relais Santa Anastasia,37.9727,14.0847
372,Walvis bay,-22.96,14.51,NaN,Protea Hotel by Marriott Walvis Bay Pelican Bay,-22.9613,14.483
413,Nakusp,50.25,-117.80,CA,The Lodge at Arrow Lakes,50.2393,-117.805
424,Indian head,50.53,-103.67,CA,Sunshine Motel,50.5271,-103.659
428,Peci,44.63,16.79,BA,nan,nan,nan
450,Civitavecchia,42.09,11.80,IT,Hotel San Giorgio,42.0897,11.795

In [9]:
# remove cities without hotels within desired radius
hotel_df = hotel_df.loc[hotel_df['Hotel Name'] != 'nan',:]
hotel_df

,City,Lat,Lng,Country,Hotel Name,Hotel Lat,Hotel Lng
64,Vallenar,-28.57,-70.76,CL,Hotel Origenes,-28.566,-70.8039
319,Castelbuono,37.93,14.09,IT,Relais Santa Anastasia,37.9727,14.0847
372,Walvis bay,-22.96,14.51,NaN,Protea Hotel by Marriott Walvis Bay Pelican Bay,-22.9613,14.483
413,Nakusp,50.25,-117.80,CA,The Lodge at Arrow Lakes,50.2393,-117.805
424,Indian head,50.53,-103.67,CA,Sunshine Motel,50.5271,-103.659
450,Civitavecchia,42.09,11.80,IT,Hotel San Giorgio,42.0897,11.795

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl style='color: black;'>
<dt><strong>Name</strong></dt><dd>{Hotel Name}</dd>
<dt><strong>City</strong></dt><dd>{City}</dd>
<dt><strong>Country</strong></dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Hotel Lat", "Hotel Lng"]]

In [11]:
# Add marker layer ontop of heat map
marker_layer = gmaps.symbol_layer(locations,fill_color='rgba(250,0,0,0.6)',
                                 stroke_color='rgba(250,250,250,0.8)',scale=10,
                                 info_box_content=hotel_info)
m.add_layer(marker_layer)
# Display figure
m

Map(configuration={'api_key': 'AIzaSyCJ41dvdSoedjx1BZQjtKYJbYRrbjqs5IA'}, data_bounds=[(-47.9936733083086, -17…